{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cria Contato</title>
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>
<body>
    {% include 'contatos/links.html' %}
    <h1>Cria um contato</h1>
    <form action="" method="post" class="thDireita">
        <fieldset style="width: max-content;">
        <legend>Formulário de cadastro</legend>
        {% csrf_token %}
        <table class='formulario'>
            {{ formulario.as_table }}
        </table>
        <button type="submit">Cria contato</button>
        </fieldset>
    </form>
</body>
</html>